.dice-container {
    display: flex;
    justify-content: space-between;
}

.large {
    font-size: 2rem;
    padding-right: 1rem;
}

.roll-label {
    padding-left: 1rem;
    padding-right: 1rem;
}

.wild-die {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}