.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #6200ee;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.navLink {
  display: inline-block;
  color: #ffffff;
  background-color: #6200ee;
  text-align: center;
  padding: 16px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

button.navLink {
  height: 61px;
}

.navLink:hover {
  background-color: #3700b3;
}

.navText {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}